* {
    box-sizing: border-box;
    --color-white: #FDFDFD;
    --color-red: rgb(224, 36, 36);
    --color-blue: #3A86FF;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.base-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.base-button:hover {
    background-color: #2a6fde;
}


#theft-button {
    margin: 0.5rem 0;
    background-color: var(--color-red);
}

#theft-button:hover {
    background-color: rgb(197, 27, 27);
}

.layout-container {
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
}
  
.main-content {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f0f0f0;
    height: calc(100vh - 74px);
}

@media (max-width: 1200px) {
    .main-content {
      width: 100%;
}
}
  