.row-alert {
  background-color: red;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  animation: pulse 3s infinite;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    background-color: red;
    transform: scale(1.1);
  }
  50% {
    background-color: rgb(218, 181, 181);
    transform: scale(1);
  }
  100% {
    background-color: red;
    transform: scale(1.1);
  }
}

.row-normal {
  font-size: 1.25rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
  text-align: center;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}