.dashboard-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
  
.dashboard-content {
    display: grid;
    grid-template-columns: 1fr;
    transition: gap 0.3s ease;
    gap: 20px;
}

.highlight-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    height: 300px;
}

.center-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.side-area {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
  
.row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ebf1f7;
}

.row-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
  
.row-content {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}
  
.item {
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 450px;
}

.item:hover {
    box-shadow: 0 0 10px #35a87c;
    transform: scale(1.05);
}

header {
    font-size: 1.7rem;
}