.dashboard-container {
    padding: 40px 60px;
}
  
.dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0 auto;
    max-width: 1400px;
    transition: gap 0.3s ease;
    gap: 40px;
}

@media (max-width: 1400px) {
  .dashboard-content {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (max-width: 900px) {
    .dashboard-content {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (max-width: 500px) {
    .dashboard-content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}

.seasonal-distance {
    grid-column: 1 / -1;
}

.item-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    aspect-ratio: 1;
    border: 1px solid grey;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    text-align: center;
    background-color: white;
    cursor: pointer;
    padding: 30px;
    max-width: 450px;
  }
  
.item {
    position: relative;
    height: 100%;
}

.item-container:hover {
    box-shadow: 0 0 10px #db536e;
    transform: scale(1.05);
}

header {
    font-size: 1.7rem;
}