.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.button:hover {
    background-color: #0056b3;
}

header {
    text-align: center;
}