.trip-box {
    display: grid;
    grid-template-areas:
    "date start-time"
    "details details";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    border-radius: 10px;
    padding: 14px;
    gap: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.date {
    grid-area: date;
    color: #1b9e77;
    font-weight: bold;
}

.start-time {
    grid-area: start-time;
    color: #1b9e77;
    font-weight: bold;
    text-align: right;
}

.details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.duration, .distance, .co2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
}

.unit {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(119, 119, 119);
    margin-left: 3px;
}