.statistics-container {
    max-width: 1300px;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
  
.statistics-content {
    display: grid;
    grid-template-areas:
        "chart"
        "trips"
        "summary";
    transition: gap 0.3s ease;
    gap: 20px;
}

@media only screen and (min-width: 684px)  {
    .statistics-content {
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
      "chart    chart"
      "summary  trips";
    }
}

@media only screen and (min-width: 1200px)  {
    .statistics-content {
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
      "chart    trips"
      "summary  summary";
      max-width: 1200px;
    }
}

.chart {
    grid-area: chart;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    gap: 20px;
    position: relative;
    min-height: 500px;
}
  
.summary-container, .trip-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid lightgrey;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 15px;
}

.summary-container {
    grid-area: summary;
    background-color: white;
}

.trip-container {
    grid-area: trips;
    background-color: #2c9c7b;
}

.summary-container-title, .trip-container-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.trip-container-title {
    color: white;
}