.statistics-container {
    padding: 20px 60px;
}
  
.statistics-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 0 auto;
    max-width: 1200px;
    transition: gap 0.3s ease;
    gap: 20px;
}

.chart {
    grid-column: 1 / -1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    gap: 20px;
}
  
.item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgrey;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 20px;
    gap: 10px;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: #e2f3f3;
    border-radius: 10px;
    padding: 20px;
}