.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
  }

.header {
    background-color: #36a38d;
    color: #fff;
    padding: 1.5rem 0.625rem;
  }

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
		display: flex;
    gap: 1.25rem;
}

.nav-links li {
    margin-left: 1.25rem;
}

.nav-links li a {
    color: var(--color-white);
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    text-decoration: underline;
		text-underline-offset: 0.5rem;
}

.nav-links li a:focus {
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}

.nav-logo a {
  color: var(--color-white);
  text-decoration: none;
}