.map-container {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 88px);
    z-index: 1;
    position: absolute;
    margin-top: 88px;
}

.overlay-container {
    display: flex;
    flex-direction: column;
    width: 17rem;
    margin-top: 3rem;
    margin-left: 0.625rem;
    position: absolute;
    left: 0;
    z-index: 2; 
    padding: 1rem 1rem;
    background-color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.filter-container h2 {
    font-weight: 600;
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
}

.base-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.base-button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  