.login-container {
  background-color: lightblue;
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.content-container {
    background-color: white;
    display: flex;
    height: 100vh;
    max-width: 80rem;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.column-left, .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 0; 
    width: 0;
  }

.column-left {
    padding: 0 1rem;
}

.column-right {
    background-color: gray;
    text-align: center;
}

/* FORM */



.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: var(--color-blue);
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.button {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px; 
  border: 1px solid #ddd; 
  border-radius: 6px; 
  background: var(--color-blue); 
  color: #fff; 
  font-weight: 500; 
  letter-spacing: 1px; 
  margin-top: 1.7rem;
  cursor: pointer; 
  transition: 0.4s; 
  outline: none;
}

.button:hover {
  background: #006653; /* Hover background color */
}
.form input.button{
  color: #fff;
  background: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: var(--color-blue);
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

.error-notification {
  position: absolute;
  top: -60px;
  color: red;
  font-size: 20px;
  background-color: rgb(252, 233, 237);
  border: solid 1px red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.error-wrapper {
  position: relative; /* Allows .error-notification to be positioned within this container */
  height: 0; /* Prevents extra space from being added */
  overflow: visible; /* Allows the error message to extend out if needed */
}