.login-container {
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
}

.content-container {
  background-color: white;
  display: flex;
  height: 100vh;
  max-width: 80rem;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0;
}

.column-left {
  padding: 0 1rem;
}

.column-right {
  background-color: gray;
  text-align: center;
}

/* FORM */

.form header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.form input {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #c6c4c4;
  border-radius: 4px;
}

.form {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
}
.inputGroup {
  margin-bottom: 1.5rem;
  position: relative;
  min-height: 3.5rem;
}

.form a {
  font-size: 16px;
  color: var(--color-blue);
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.form input.button {
  color: #fff;
  background: var(--color-blue);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.signup {
  text-align: center;
  color: grey;
  padding-top: 1rem;
}

.signup a {
  font-weight: 500;
  padding-left: 0.25rem;
}

.signup label {
  color: var(--color-blue);
  cursor: pointer;
  text-decoration: underline;
}

.signup label:hover {
  text-decoration: underline;
}

.google-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem;
  color: #232836;
  border: 1px solid #747775;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.divider {
  align-items: center;
  display: flex;
  margin: 1.25rem 0;
  color: grey;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.25px;
  background-color: grey;
  margin: 5px;
}

img {
  height: 100%;
}

.errorMessage {
  font-size: 0.875rem;
  color: var(--color-red);
  margin-top: 0.5rem;
  position: absolute;
  left: 0;
  bottom: -1.25rem; 
}

.errorInput {
  border: 1px solid var(--color-red) !important;
}

input:focus {
  border: 1px solid grey;
  outline: none;
}

.errorGeneral {
  color: var(--color-red);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .column-right {
    display: none;
  }
}
