.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
  }
  
  .form {
    background-color: white;
    padding: 1.875rem;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    max-width: 25rem;
  }
  
  .form h1 {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .form input {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #c6c4c4;
    border-radius: 4px;
  }

  .form input:focus {
    border: 1px solid grey; 
    outline: none;
  }
  
  .form button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  
  .login {
    text-align: center;
    padding-top: 1rem;
    color: grey;
  }

  .login a {
    color: var(--color-blue);
    font-weight: 500;
  }

  .errorInput {
    border: 1px solid var(--color-red) !important;
  }
  
  .errorMessage {
    font-size: 0.875rem;
    color: var(--color-red);
    margin-top: 0.5rem;
    position: absolute;
    left: 0;
    bottom: -1.25rem; 
  }

  .errorGeneral {
    color: var(--color-red);
    text-align: center;
  }
  
  .inputGroup {
    margin-bottom: 1.5rem;
    position: relative;
    min-height: 3.5rem;
 }

 label + span {
  font-size: 0.75rem;
  padding-left: 0.25rem;
  color: var(--color-red);
 }